{% extends "base.html" %}
{% block content %}
<div class="row">
  {% if {{modules.M1A.io_type}} == "output" %}
    <div class="col-md-3">
    {% if {{modules.M1A.status}} == false %}
      <a href="M1A/on" class="btn btn-sm btn-danger" role="button">Módulo 1A OFF</a>
    {% elif {{modules.M1A.status}} == true %}
      <a href="M1A/off" class="btn btn-sm btn-success" role="button">Módulo 1A ON </a>
    {% endif %}
    </div>
    <div class="col-md-3">
      <a href="/M1A/reset" class="btn btn-sm btn-primary" role="button">Módulo 1A Reset</a>
    </div>
  {% elif {{modules.M1A.io_type}} == "input" %}
    <div class="col-md-3">
      <h5>Módulo 1 status: {{modules.M1A.status}}<h5>
    </div>
  {% endif %}
</div>
{% endblock %}









<div class="row">
{% for mod in modules %}
  <div class="col-md-3">
  {% if mod.io_type == "output" %}
    <h3>{% if mod.status == false %}
          <a href="{{mod.name}}/on" class="btn btn-sm btn-danger" role="button">{{ mod.name }} OFF</a> <a href="/{{mod.name}}/reset" class="btn btn-sm btn-primary" role="button">{{ mod.name }} Reset</a>
        {% else %}
          <a href="{{mod.name}}/off" class="btn btn-sm btn-success" role="button">{{ mod.name }} ON </a> <a href="/{{mod.name}}/reset" class="btn btn-sm btn-primary" role="button">{{ mod.name }} Reset</a>
        {% endif %}</h3>
  </div>
  <div class="col-md-2">
  {% elif mod.io_type == "empty" %}
    <h3>{{ mod.name }} {{ mod.status }}</h3>
  </div>
  {% endif %}
{% endfor %}
</div>
