{% extends "base.html" %}
{% block content %}
  <div class="col-md-6">
    <h3 class="text-left">Temperatura Placa</h3>
    <div class="row">
      <img src='static/graph/temp1.png' width="497" height="173">
    </div>
    <div class="row">
      <img src='static/graph/temp24.png' width="497" height="173">
    </div>
    <div class="row">
      <img src='static/graph/temp48.png' width="497" height="173">
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="text-left">Disponibilidade de Link</h3>
    <div class="row">
      <img src='static/graph/net1.png' width="497" height="187">
    </div>
    <div class="row">
      <img src='static/graph/net24.png' width="497" height="187">
    </div>
    <div class="row">
      <img src='static/graph/net48.png' width="497" height="187">
    </div>
  </div>
{% endblock %}
