{% extends "base.html" %}
{% block content %}
    <div class="slot-io col-md-2">
      <h3 class="text-center">Pista 01</h3>
      <div class="module-io row">
        <h5 class="text-center"><b>Câmera OCR</b></h5>
        <div class="col-sm-6 col">
          {% if M1[0].status == false %}
            <a href="{{M1[0].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M1[0].status == true %}
            <a href="{{M1[0].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M1[0].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Câmera Lateral</b></h5>
        <div class="col-sm-6 col">
          {% if M1[1].status == false %}
            <a href="{{M1[1].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M1[1].status == true %}
            <a href="{{M1[1].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M1[1].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Sensor Ultrasom</b></h5>
        <div class="col-sm-6 col">
          {% if M1[2].status == false %}
            <a href="{{M1[2].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M1[2].status == true %}
            <a href="{{M1[2].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M1[2].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Antena 915</b></h5>
        <div class="col-sm-6 col">
          {% if M2[0].status == false %}
            <a href="{{M2[0].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M2[0].status == true %}
            <a href="{{M2[0].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M2[0].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
    </div>
    <div class="slot-io col-md-2">
      <h3 class="text-center">Pista 02</h3>
      <div class="module-io row">
        <h5 class="text-center"><b>Câmera OCR</b></h5>
        <div class="col-sm-6 col">
          {% if M2[1].status == false %}
            <a href="{{M2[1].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M2[1].status == true %}
            <a href="{{M2[1].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M2[1].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Câmera Lateral</b></h5>
        <div class="col-sm-6 col">
          {% if M2[2].status == false %}
            <a href="{{M2[2].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M2[2].status == true %}
            <a href="{{M2[2].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M2[2].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Sensor Ultrasom</b></h5>
        <div class="col-sm-6 col">
          {% if M3[0].status == false %}
            <a href="{{M3[0].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M3[0].status == true %}
            <a href="{{M3[0].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M3[0].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Antena 915</b></h5>
        <div class="col-sm-6 col">
          {% if M3[1].status == false %}
            <a href="{{M3[1].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M3[1].status == true %}
            <a href="{{M3[1].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M3[1].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
    </div>
    <div class="slot-io col-md-2">
      <h3 class="text-center">Armário</h3>
      <div class="module-io row">
        <h5 class="text-center"><b>Schalter</b></h5>
        <div class="col-sm-6 col">
          <a href="{{M2[1].name}}/softreset" class="btn btn-block btn-sm btn-warning" role="button">Soft Reset</a> 
        </div>
        <div class="col-sm-6 col">
          <a href="{{M2[1].name}}/reset" class="btn btn-block btn-sm btn-danger" role="button">Hard Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Schalter Hard reset</b></h5>
        <div class="col-sm-6 col">
          {% if M2[2].status == false %}
            <a href="{{M2[2].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M2[2].status == true %}
            <a href="{{M2[2].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M2[2].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Sensor Ultrasom</b></h5>
        <div class="col-sm-6 col">
          {% if M3[0].status == false %}
            <a href="{{M3[0].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M3[0].status == true %}
            <a href="{{M3[0].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M3[0].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
      <div class="module-io row">
        <h5 class="text-center"><b>Antena 915</b></h5>
        <div class="col-sm-6 col">
          {% if M3[1].status == false %}
            <a href="{{M3[1].name}}/on" class="btn btn-block btn-sm btn-success" role="button">ON</a>
          {% elif M3[1].status == true %}
            <a href="{{M3[1].name}}/off" class="btn btn-block btn-sm btn-danger" role="button">OFF</a>
          {% endif %}
        </div>
        <div class="col-sm-6 col">
          <a href="{{M3[1].name}}/reset" class="btn btn-block btn-sm btn-warning" role="button">Reset</a>
        </div>
      </div>
    </div>
{% endblock %}
